table {
    width: 100%;
}

.mat-column-right {
    text-align: center;
    text-emphasis-color: red;
}

button:hover {
    color: rgb(43, 114, 196);
}

.green {
    color: rgb(14, 220, 14);
}

.red {
    color: rgb(247, 27, 27)
}
