<div *ngIf="stock | async as it; else loading">
    <mat-card>
        <mat-list>
            <mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">name:</div> {{it.name}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">symbol:</div> {{it.symbol}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">open:</div> {{it.open}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">close:</div> {{it.close}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">value:</div> {{it.value}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">volume:</div> {{it.volume}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item><div style="color: gray;">latest trade:</div> {{latestTrade | async}}</mat-list-item><mat-divider></mat-divider>
                <mat-list-item>          
                    <div class="green" *ngIf="it.isPositive===true">
                        <div style="color: gray;">Gains:</div> +{{it.gains}}
                    </div>
                    <div class="red" *ngIf="it.isPositive===false">
                        <div style="color: gray;">Gains:</div> {{it.gains}}
                    </div></mat-list-item><mat-divider></mat-divider>
        </mat-list>
    </mat-card>
    <br>
    <div class="return-button">
        <div class="divider"></div>
        <button mat-raised-button color="secondary" routerLink="/stocks">Return</button>
        <div class="divider"></div>
        <button mat-raised-button color="primary" (click)="openDialog(it.symbol, it.value)">Purchase</button>
        
    </div>
</div>

<ng-template #loading>Loading stuff...</ng-template>
