mat-list {
    width: 40%;
}

mat-divider {
    width: 40%;
}

mat-card {
    width: 40%;
}

button {
    background-color: rgb(204, 168, 250);
    color: white;
    width: 15%;
    height: 40px;
}

.return-button {
    padding-left: 40px;
}

button:hover {
    background-color: rgb(123, 100, 226);
}

.button2 {
    background-color: rgb(245, 151, 151);
}

.divider{
    width:5%;
    height:auto;
    display:inline-block;
}

.green {
    color: rgb(14, 220, 14);
}

.red {
    color: red;
}
