mat-toolbar {
    color: white;
    background-color: rgb(141, 90, 236);
}

button {
    background-color: rgb(141, 90, 236);
}

.divider {
    width: 80%;
}

.divider-small {
    width:5%;
    height:auto;
    display:inline-block;
}

.sidenav-button {
    width: 10%;
    height: 100%;
}

