.form-group {
    width: 40%;
}

.mat-raised-button {
    display: inline-block;
}

.divider {
    width: 5%;
    display: inline-block;
}

.alert {
    padding: 20px;
    background-color: #ec5a4f; /* Red */
    color: white;
    margin-bottom: 15px;
    
}