.mat-dialog-content {
    width: 100%;
}

.divider {
    width: 5%;
    display: inline-block;
}

.alert {
    padding: 20px;
    background-color: #ec5a4f; /* Red */
    color: white;
    margin-bottom: 15px;
    
}

.alert-success {
    padding: 20px;
    background-color: #54bd59; /* Red */
    color: white;
    margin-bottom: 15px;
    
}