<br>

<div class="information-drop-down" *ngIf="user | async as it">
    <h1 style="text-align: center; color: rgb(134, 49, 190);">Your Profile</h1>
    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Information
            </mat-panel-title>
            <mat-panel-description style="padding-left: 8%;">
                See and change your details
            </mat-panel-description>
        </mat-expansion-panel-header>


        <!-- content -->
        <mat-list>

        </mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple"> Name:</font> {{ it.name }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple"> Last name:</font> {{ it.surname }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple">Username:</font> {{ it.username }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple">Email:</font> {{ it.email }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple">Current Balance:</font> {{ it.balance }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple">Active:</font> {{ it.enabled }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <font color="purple">Creation date:</font> {{ it.timeStamp }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button color="primary" 
            (click)="openEditDialog(it.username, it.name, it.surname, it.email)">Edit information</button>
            <button mat-button color="primary" [routerLink]="['/payment-details']"
                routerLinkActive="router-link-active">Payment Details</button>
        </mat-list-item>
    </mat-expansion-panel>
</div>

<br><br>

<mat-card style="padding-left: 10px; padding-right: 10px;">
    <h2 style="text-align: center; color: rgb(134, 49, 190);">Owned shares</h2>

    <div>
        <mat-form-field style="display: inline-block; width: 40%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilterShares($event)" placeholder="eg. RBS">
        </mat-form-field>
        <mat-paginator style="display: inline-block; width: 60%;" #sharesPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="shares-table">
        <table mat-table [dataSource]="sharesDataSource" matSort #sharesSort="matSort" class="mat-elevation-z8">

            <ng-container matColumnDef="stockSymbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Symbol </th>
                <td mat-cell *matCellDef="let element"> {{ element.symbol }}</td>
            </ng-container>

            <ng-container matColumnDef="volume">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Share Volume </th>
                <td mat-cell *matCellDef="let element"> {{ element.volume }}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="sharesDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: sharesDisplayedColumns;"></tr>

        </table>

        <br>

    </div>
</mat-card>

<br><br>
<!-- <div *ngIf="trades | async ; else loading"></div>

<li *ngFor="let trade of trades | async">
    {{ trade.value }}
</li> -->
<mat-card style="padding-left: 10px; padding-right: 10px;">
    <h2 style="text-align: center; color: rgb(134, 49, 190);">Trade History</h2>
    <div>
        <mat-form-field style="display: inline-block; width: 40%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="eg. RBS">
        </mat-form-field>

        <mat-paginator style="display: inline-block; width: 60%;" #tradesPaginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons></mat-paginator>
    </div>
    <div class="trade-table">
        <table mat-table [dataSource]="dataSource" matSort #tradesSort="matSort" class="mat-elevation-z8">

            <ng-container matColumnDef="stockSymbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Symbol </th>
                <td mat-cell *matCellDef="let element"> {{ element.stockSymbol }}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Exchange value </th>
                <td mat-cell *matCellDef="let element"> {{ element.total }}</td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Share Price </th>
                <td mat-cell *matCellDef="let element"> {{ element.value }}</td>
            </ng-container>

            <ng-container matColumnDef="volume">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Share Volume </th>
                <td mat-cell *matCellDef="let element"> {{ element.volume }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.date }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
        <br>


        <br>

    </div>
</mat-card>


{{ shares | async }}

<ng-template #loading>Loading stuff...</ng-template>